// Fonts
$firstFont: 'Roboto', sans-serif;

// Colors
$primario: #7ABE47;
$secundario: #FFC845;
$negro: #000000;
$claro: #FFFFFF;
$gris: #EEEEEE;
$oscuro: #57A42B;
$padding: 1rem;
$padding2: 2rem;

// Media Queries
$telefone: 480px;
$tablet: 768px;
$desktop: 1050px;